<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <li class="rk-menu__item"><a [routerLink]="['about']" class="rk-menu__link">Sobre mi</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{ anio }}  {{ this._info.info.titulo }} </span>All Right Reserved.</p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
            <a [href]="this._info.info.facebook" target="_blank" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg></a>
            <a [href]="this._info.info.twitter" target="_blank" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg></a>
            <a [href]="this._info.info.instagram" target="_blank" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg></a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Correo: </span><span class="ae-u-bolder"> <a href="MailTo:{{ this._info.info.correo }}" class="rk-dark-color ">{{ this._info.info.correo }} </a></span></p>
            <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" target="_blank" class="ae-u-bolder">Pixeden.</a></p>
        </div>
    </div>
</footer>